body{
	max-width:1440px;
	min-width:1200px;
	margin:0 auto;
	background-color:snow;
}
header{
}
	header section.upper-block{
	    height: 175px;
	    background-image: url(chaye.jpg);
	    background-repeat: no-repeat;
	    background-position: right;
	    background-size:contain;
	}
		header .logo{
		    background-image: url(sunchai.png);
		    background-repeat: no-repeat;
		    background-position: 30px -30px;
		    background-size: contain;
		    height: 245px;
		    /* width: 500px; */
		    background-size: 33%;
		    position: static;
		}
	header nav{
	    height: 36px;
	    padding: 0 0 0 35%;
	    background-color: rgb(45,45,45);
	    opacity: 0.7;
	    /* color: white; */
	    position: relative;
	    z-index: -5;
	    background-color: black;
	}
		header nav div{
		    display: inline-block;
		    height: 20px;
		    width: 120px;
		    font-size: 20px;
		    margin: 8px 10px;
		    /* color: wheat; */
		    text-align: center;
		}
		header nav a{
		    text-decoration: none;
		    color: white;
		}
main {
	background-color:dimgray;
	height: 1000px;
}