@font-face {
  font-family: 'noto-serif';
  src: url(NotoSerif-Regular.ttf);
  font-weight: 200;
}

@font-face {
  font-family: 'philosopher';
  src: url(Philosopher-Regular.ttf);
}
body{
	width:1440px;
	margin:0 auto;
	background-color:#0e0e0e;
	font-family: 'noto-serif';
}
header{
		background-image: url(headerFrm.png);
	    background-repeat: no-repeat;
	    border-bottom: 1px rgb(231,231,231) solid;
}
	header section.upper-block{
	    height: 224px;
	}
		header #logo{
		    top: 0;
		    left: 0;
		    height: 274px;
		    position: relative;
		    z-index: 100;
		}
		header .contacts{
		    float: right;
		    height: 100px;
		    width: 260px;
		    font-size: 25px;
		    color: white;
		    line-height: 1.5;
		    margin: 20px 0 0 0;
		}
			.contacts span{
				float:right;
				margin-right: 10px;
			}
			div.icons{
				background-image: url(social.png);
				background-repeat: no-repeat;
				width:80px;
				height: 30px;
				margin-top: 10px;
				margin-right: 10px;
				float:right;
			}
			div.shopBtn{
				background: rgba(134,93,62,0.7);
				color:white;
				font-family: philosopher;
				font-size:30px;
			    border-radius: 10px 0 0 10px;
			    margin: 20px 0 0 0;
			    padding: 0 10px 0 60px;
			    float:right;
			}
	header .navcolor{
	    width: 100%;
	    max-width: 1440px;
	    height: 50px;
	    position: absolute;
	    background-color: rgb(38,33,31);
		}
	header nav{
	    height: 50px;
	    padding: 0 0 0 12%;
	    background-color: rgb(38,33,31);
	    opacity: 0.75;
	    position: relative;
	    z-index: 101;
	}
		header nav div{
		    display: inline-block;
		    height: 20px;
		    width: 120px;
		    font-size: 25px;
    		margin: 8px 45px 0 60px;
		    text-align: center;
		}
		header nav a{
		    text-decoration: none;
		    color: rgb(188,181,171);
		}
main {
	height: 1000px;
	background-color:rgb(231,231,231);
}
	div.advantages {
		height:270px;
		background-color: rgb(38,33,31);
		margin-top: 1px;
	}
		div.advantagesWord{
			font-family: philosopher;
			font-style: normal;
			font-weight: normal;
			padding: 65px 0 0 35px;
			font-size: 30px;
			line-height: 54px;
			color: white;
			float:left;
		}
		div.advantage{
			width:200px;
			height:200px;
			border: 2px solid #595959;
			box-sizing: border-box;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.75);
			border-radius: 100px;
    		float: left;
    		margin: 35px 40px;
		}
	div.articles {
		background-color:rgb(89,89,89);
		height: 228px;
		margin-top: 1px;
	}
		div.articlesWord{
		    background-color: rgb(89,89,89);
		    width: 164px;
		    height: 44px;
		    background: #595959;
		    border: 1px solid gray;
		    box-sizing: border-box;
		    border-radius: 12px 12px 0px 0px;
		    position: relative;
		    top: -44px;
		    left: 60px;
		    text-align: center;
		    border-width: 1px 1px 0 1px;
		    font-family: Philosopher;
		    font-size: 28px;
		    padding: 6px;
		    color: #26211F;
		}
		div.article{
			height: 180px;
			width:330px;
			background: #26211F;
			box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
			float: left;
			position: relative;
		    top: -20px;
		    margin: 0 0 0 22px;
		}
	div.teaMap{
		height: 180px;
		background-image: url("teamap.png");
		background-repeat: no-repeat;
	}
	div.locations{
	}
		div.hill{
			height: 600px
		}
		div.hill:nth-child(1){
			background:rgb(38,33,31);
		}
		div.hill:nth-child(2){
			background:rgb(63,56,36);
		}
		div.hill:nth-child(3){
			background:rgb(47,47,47);
		}



