body{
	max-width:1440px;
	min-width:1200px;
	margin:0 auto;
	background-color:rgb(231,231,231);
}
header{
		background-image: url(headerFrm.png);
	    background-repeat: no-repeat;
}
	header section.upper-block{
	    height: 224px;
	}
		header #logo{
		    top: -26px;
		    left: -76px;
		    height: 325px;
		    position: absolute;
		    z-index: 100;
		}
		header .logoName {
			background-image: url(sunchai.png);
		    background-repeat: no-repeat;
		    height: 325px;
		    width: 325px;
		    z-index: 98;
		    position: absolute;
		    top: -26px;
		    left: 120px;
		}
	header nav{
	    height: 50px;
	    padding: 0 0 0 35%;
	    background-color: rgb(38,33,31);
	    opacity: 0.6;
	    position: relative;
	    z-index: 99;
	}
		header nav div{
		    display: inline-block;
		    height: 20px;
		    width: 120px;
		    font-size: 20px;
		    margin: 8px 10px;
		    /* color: wheat; */
		    text-align: center;
		}
		header nav a{
		    text-decoration: none;
		    color: white;
		}
main {
	background-color:rgba(128,121,111,1);
	height: 1000px;
}